@media screen and (max-width: 780px) {
  .container {
    width: 90%;
  }
  #header_area {
    display: block;
    align-items: center;
    padding-top: 3rem;
    position: relative;
  }
  #header_area .logo_area {
    width: 15%;
  }
  #header_area .nav_area {
    background-color: var(--offWhite);
    padding: 40px;
    position: absolute;
    right: -99999999px;
    top: 0;
  }

  #header_area .nav_area ul {
    flex-direction: column;
    margin-top: 7rem;
  }

  #header_area .nav_area ul li {
    margin-bottom: 25px;
    margin-left: 0;
  }

  #header_area .nav_area ul li:last-child {
    margin-bottom: 0px;
  }

  #header_area .nav_area ul li a {
    font-size: 20px;
    color: var(--veryDarkBlue);
  }

  #header_area .menuOpen {
    width: 40px;
    display: block;
    cursor: pointer;
    position: absolute;
    right: 20px;
    top: 50px;
  }
  #header_area .nav_area .menuClose {
    display: block;
    cursor: pointer;
    width: 40px;
    position: absolute;
    right: 40px;
    top: 40px;
  }
  #header_area .active {
    position: fixed;
    width: 70%;
    height: 100%;
    display: block;
    right: 0;
    top: 0;
  }

  /* Hero Area */
  #hero_area {
    flex-direction: column;
  }

  #hero_area .main_hero {
    width: 100%;
  }

  #hero_area .hero_img {
    margin-bottom: 1rem;
  }

  #hero_area .hero_img .firstImg {
    display: none;
  }

  #hero_area .hero_img .SecendImg {
    display: block;
  }

  #hero_area .hero_info {
    flex-direction: column;
  }

  #hero_area .hero_info .title {
    width: 100%;
  }

  #hero_area .hero_info .title h1 {
    font-size: 53px;
    margin-bottom: 10px;
  }

  #hero_area .hero_info .info {
    width: 100%;
    margin-bottom: 70px;
  }

  #hero_area .hero_info .info p {
    font-size: 18px;
    margin-bottom: 2rem;
    padding-right: 28px;
    line-height: 30px;
  }

  #hero_area .side_hero {
    width: 100%;
  }

  /* Prodect Area */
  #prodect_area {
    flex-direction: column;
  }

  .child_prodect {
    display: flex;
    width: 100%;
    margin-bottom: 45px;
  }

  .pro_img {
    margin-right: 28px;
  }

  .pro_img img {
    width: 110px;
    height: 130px;
  }

  .pro_info p {
    color: var(--darkGrayishBlue);
    line-height: 29px;
    font-size: 18px;
    padding-right: 31px;
  }
}
